<form autocomplete="off">
<div class="container-fluid" >
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">House Listing Form</h1>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<a routerLink="/home">Home</a> >> <a (click)="nav('house_listing')">house_listing</a> >> <a>form serial_no:{{serial_no}}</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12" *ngFor="let image of images">
					<img src="{{image}}" alt="" style="width: 100%">
				</div>
				<div class="col-md-12">
					<input type="file" name="images[]" id="images" multiple (change)=imageFiles($event)>
					<label for="images"><img src="https://via.placeholder.com/480x100?text=Add+Photos" alt="Add Photo" style="width: 100%"></label>
				</div>
			</div><hr>
			<div class="row">
				<div class="col-md-12">
					<h3>Attachments</h3>
				</div>
				<div class="col-md-12" *ngFor="let item of attachments; let i = index;">
					<a href="{{item['path']}}">{{item['name']}}</a>
				</div>
				<div class="col-md-12">
					<input type="file" name="attachments[]" id="attachments" multiple (change)=attachFiles($event)>
					<label for="attachments"><img src="https://via.placeholder.com/480x100?text=Add+Attachements" alt="Add Attachements" 	style="width: 100%"></label>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right">Serial Number:</label>
				</div>
				<div class="col-md-6">
					<p class="well well-sm">{{serial_no}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="owner_name">Owner Name</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Owner Name" [(ngModel)]="obj['owner_name']" name="owner_name" id="owner_name"/>
					<p class="e" *ngIf="e['owner_name']">* {{e['owner_name'][0]}}</p>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="size">Size</label>
				</div>
				<div class="col-md-6">
					<select class="form-control" [(ngModel)]="obj['size']" name="size" id="size">
						<option>1 BHK</option><option>2 BHK</option><option>3 BHK</option><option>>3 BHK</option>
					</select>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="available_for">Available For</label>
				</div>
				<div class="col-md-6">
					<select class="form-control" [(ngModel)]="obj['available_for']" name="available_for" id="available_for">
						<option>Rent</option><option>Lease</option><option>PG</option>
					</select>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="no_of_people_allowed">No. of People Allowed</label>
				</div>
				<div class="col-md-6">
					<input type="number" class="form-control" placeholder="No. of People Allowed" [(ngModel)]="obj['no_of_people_allowed']" name="no_of_people_allowed" id="no_of_people_allowed"/>
					<p class="e" *ngIf="e['no_of_people_allowed']">* {{e['no_of_people_allowed'][0]}}</p>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="price">Price</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Price" [(ngModel)]="obj['price']" name="price" id="price"/>
					<p class="e" *ngIf="e['price']">* {{e['price'][0]}}</p>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="house_description">House Description</label>
				</div>
				<div class="col-md-6">
					<textarea rows="3" class="form-control" placeholder="House Description" [(ngModel)]="obj['house_description']" name="house_description" id="house_description"></textarea>
					<p class="e" *ngIf="e['house_description']">* {{e['house_description'][0]}}</p>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="house_address">House Address</label>
				</div>
				<div class="col-md-6">
					<textarea rows="3" class="form-control" placeholder="House Address" [(ngModel)]="obj['house_address']" name="house_address" id="house_address"></textarea>
					<p class="e" *ngIf="e['house_address']">* {{e['house_address'][0]}}</p>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="contact_number">Contact Number</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Phone Number / email-id etc" [(ngModel)]="obj['contact_number']" name="contact_number" id="contact_number"/>
					<p class="e" *ngIf="e['contact_number']">* {{e['contact_number'][0]}}</p>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="spin">Secret PIN</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="4 digit Secret PIN" [(ngModel)]="obj['spin']" name="spin" id="spin"/>
					<p class="e" *ngIf="e['spin']">* {{e['spin'][0]}}</p>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<a class="btn btn-primary" (click)="saveDraft()">Save Draft</a>
					<input type="submit" class="btn btn-primary" name="submit" value="Final Submit">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h3>*Please remember <strong>serial number and secret pin</strong> for re-opening the form.</h3>
				</div>
			</div>
		</div>
	</div><br>
</div>
</form>