<form id="form" class="form-horizontal" method="POST" action="/application_form?form_name=house_listing" enctype="multipart/form-data" autocomplete="off">
	<input type="hidden" name="_token" value="8PUfJvLuvufkuc9zFnQ8I7Gu1oBdvtdStdHHLqRD">
	<input type="hidden" name="form_name" value="house_listing" />
	<input type="hidden" name="serial_no" value="3" />
	<input type="hidden" name="pin" value="" />
<div class="container-fluid" >
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">House Listing Form</h1>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<a href="/">Home</a> >> <a href="/cru_buttons?form_name=house_listing">house_listing</a> >> <a>form serial_no:3</a>
				</div>
			</div>
			<hr>
			
					    <div class="row">
				<div class="col-md-12">
					<input type="file" name="images[]" id="images" multiple style="visibility: hidden">
					<label for="images"><img src="https://via.placeholder.com/480x100?text=Add+Photos" alt="Add Photo" style="width: 100%"></label>
				</div>
			</div>
						<div class="row">
				<div class="col-md-12">
					<input type="file" name="attachments[]" id="attachments" multiple style="visibility: hidden">
					<label for="attachments"><img src="https://via.placeholder.com/480x100?text=Add+Attachements" alt="Add Attachements" 	style="width: 100%"></label>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right">Serial Number:</label>
				</div>
				<div class="col-md-6">
					<p class="well well-sm">3</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="owner_name">Owner Name</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Owner Name" name="owner_name" id="owner_name"/>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="size">Size</label>
				</div>
				<div class="col-md-6">
					<Select class="form-control" name="size" id="size">
						<option>1 BHK</option><option>2 BHK</option><option>3 BHK</option><option>>3 BHK</option>
					</Select>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="available_for">Available For</label>
				</div>
				<div class="col-md-6">
					<Select class="form-control" name="available_for" id="available_for">
						<option>Rent</option><option>Lease</option><option>PG</option>
					</Select>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="no_of_people_allowed">No. of People Allowed</label>
				</div>
				<div class="col-md-6">
					<input type="number" class="form-control" placeholder="No. of People Allowed" name="no_of_people_allowed" id="no_of_people_allowed"/>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="price">Price</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Price" name="price" id="price"/>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="house_description">House Description</label>
				</div>
				<div class="col-md-6">
					<textarea rows="3" class="form-control" placeholder="House Description" name="house_description" id="house_description"></textarea>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="house_address">House Address</label>
				</div>
				<div class="col-md-6">
					<textarea rows="3" class="form-control" placeholder="House Address" name="house_address" id="house_address"></textarea>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="contact_number">Contact Number</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="Phone Number / email-id etc" name="contact_number" id="contact_number"/>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6">
					<label class="text-right" for="spin">Secret PIN</label>
				</div>
				<div class="col-md-6">
					<input type="number" class="form-control" placeholder="4 digit Secret PIN" name="spin" id="spin"/>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<input id="draft" type="submit" class="btn btn-primary" name="submit" value="Save Draft">
					<input type="submit" class="btn btn-primary" name="submit" value="Final Submit">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h3>*Please remember <strong>serial number and secret pin</strong> for re-opening the form.</h3>
				</div>
			</div>
		</div>
	</div><br>
</div>
</form>
<!-- 
<script>
document.getElementById("images").onchange = function() {
	if(document.getElementById("spin").value!==""){
		document.getElementById("draft").click();
	}else{
		alert("Please Enter Secret PIN");
	}
};
document.getElementById("attachments").onchange = function() {
    if(document.getElementById("spin").value!==""){
		document.getElementById("draft").click();
	}else{
		alert("Please Enter Secret PIN");
	}
};
</script>
</body>
</html> -->